VITE_API_BASE_URL=https://ryzm03zs5l.execute-api.ap-south-1.amazonaws.com
VITE_AUTH_API_BASE_URL=https://ryzm03zs5l.execute-api.ap-south-1.amazonaws.com
PORT=8080
PYTHONPATH=/app/services/ese-core:/app/services/auth-service
